/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}


html,body{ 
    width:100%;
    height:100%;
    /* background-image: url('https://images.unsplash.com/photo-1478733672327-ce27bc999503?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64a7b5ecbbd8f186ee23894fe06cb423&auto=format&fit=crop&w=3033&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1480926767013-c9ea27d4252a?ixlib=rb-0.3.5&s=5e1c0c1c6795829615baaa53ff7128ea&auto=format&fit=crop&w=1650&q=80');

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;  
    font-family: 'Montserrat, sans-serif';
    font-size: 10px;
  }
  
  html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  a {
    text-decoration: none;
  }
    
  canvas{
    width: 100%;
    height: 100%;
    z-index: -1;
    /* vertical-align:bottom; */
  }

   /* ---- Particles.js CONTAINER ---- */
   
   #particles-js{
    width: 100%;
    height: 100%;
    background-image: url('../../images/autmn.jpeg');

    /* background-image: url('https://images.unsplash.com/photo-1535593063927-5c40dee9cb83?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3bfc6e7c6043924de9c4746bef6dc969&auto=format&fit=crop&w=2850&q=80'); */
    /* background-image: url('https://images.unsplash.com/photo-1506512534708-3737d46bffe1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c50522d4496abeea544e9d3401d0143c&auto=format&fit=crop&w=1950&q=80'); */
    /* background-image: url('https://images.unsplash.com/photo-1480926767013-c9ea27d4252a?ixlib=rb-0.3.5&s=5e1c0c1c6795829615baaa53ff7128ea&auto=format&fit=crop&w=1650&q=80'); */
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* filter: hue-rotate(1000deg); */
    position: relative;
    box-shadow: 30px 10px 50px black;


    /* background-image-blur */
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
  }
  
  /* ------------- PARALLAX IMAGE CONTAINER ------------ */
  .parallax {
    /* The image used */
    /* background-image: url('../../images/ember.jpg'); */

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    /* ------------- NAVBAR & ITS CONTTENTS -------------- */
   .contain {
    position: absolute;
    z-index: 999;
    /* top: 20px; */
   }
   .top-nav-collapse {
    padding: 0;
    background: #ffffff;
    color: #222222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .navbar-header {
    position: fixed;
  }

  .page-scroller {
    position: fixed;
    z-index: 999;
    color: rgb(245, 245, 245);
    top: 5%;
    right: 2.3%;
    transition: all 1s linear;
  }
  .page-scroller:hover {
    color: rgb(255, 109, 109);
    text-shadow: 1px 1px 8px rgb(0, 0, 0);
    font-size: 4rem;
 }
  /*  -------- CENTRE INTRO AND ITS CONTENTS --------- */

   .intro-body {
     position: absolute;
     z-index: 999;
     top: 30%;
     left: 26%;
     background-color: rgba(0, 0, 0, 0.384);
     padding: 50px;
     display: block;
     box-shadow: 2px 2px 50px #921600;
     border-radius: 1rem;
   }

   h1.brand-heading {
    font-size: 5vw;
    color: rgb(221, 220, 220);
    text-shadow: .5rem .5rem 1rem rgb(15, 12, 0); 

    transition: text-shadow 1s linear .5s;
    transition: color 1s ease-in .5s;
   }
   h1.brand-heading:hover {
    font-size: 5vw;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 30px #921600; 
    /* filter: brightness(150%) blur(1px); */
   }
   .intro-text {
    font-size: 3vw;
    color: rgb(218, 214, 214);
    transition: all .5s linear;
   }

   /* .btn-social-icon {
     color: rgb(82, 139, 16);
     size: 12rem; */
   /* } */
   .fa-4x {
     color: rgb(221, 220, 220);
     size: 30px;
     transition: all 1s linear;

   }
   .fa-4x:hover {
     color: rgb(255, 109, 109);
     text-shadow: 1px 1px 8px rgb(0, 0, 0);
     font-size: 4rem;
   }
 
   /* rotate menu logo on click */
   /* .rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all 1s ease-in;
    transform: rotate3d(0, 1, 0, 60deg);
  }
   .rotate.down {
    transform: rotate3d(2, 1, 1, 1turn);
  } */
 
  /* --------- DOWN LIST ITEMS --------- */
  .nav-button {
    background-color: rgba(204, 204, 204, 0);

    border: #000;
    padding: 5px 6px 3px 6px;
    transition: all .3s linear;
    bottom: 20px;
    color: rgb(198, 255, 41);
    position: relative;
    top: 2rem;
    z-index: 99;

  }
  .nav-button:hover {
    border-color: black;
    /* background-color: rgb(2, 7, 0); */
    /* color: rgb(248, 4, 4);  */
    /* transform: rotate3d(0, 1, 0, 360deg); */
  }
  
  .downlist {
    /* display: flex; */
    /* background-color: rgba(0, 0, 0, 0.384); */
    position: relative;
    left: 1rem;
    color: white;
  }
  
  .downlist-items {
    padding: 40px 20px;
    color: white;

    }
 
  .light {
    font-size: 25px;
    font-family: cursive;
    color: rgb(255, 250, 250);
    transition: all .5s linear;
  }
  .light:hover {
    /* color: rgb(255, 89, 241);  */
    text-shadow: 0px 25px 4px rgb(131, 250, 244);
    
    /* font-size: 120%; */
  }

  /* ------------ INTRO TEXT SECTION ------------- */
  .content-section-one {
    margin: 3rem 0 5rem 0;
    padding: 0 1rem 3rem 1rem;
    /* width: 100%; */
    /* font-family: 'Great Vibes', cursive; */
    /* font-family: 'Pinyon Script', cursive; */
    /* font-family: 'Tangerine', cursive; */
    /* font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: .3rem; */

    /* background: linear-gradient(10deg, black, #921600da, black);  */
    /* background: url("../../images/wood.jpg");  */
    /* background: url('https://images.unsplash.com/photo-1480926767013-c9ea27d4252a?ixlib=rb-0.3.5&s=5e1c0c1c6795829615baaa53ff7128ea&auto=format&fit=crop&w=1650&q=80'); */
    /* background: url('https://images.unsplash.com/photo-1506512534708-3737d46bffe1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c50522d4496abeea544e9d3401d0143c&auto=format&fit=crop&w=1950&q=80') fixed center ; */

    /* border-radius: 2rem; */
    /* box-shadow: 5px 5px 10px black; */

    /* left: 1.4rem; */
  }
  .background-image {
    background: url("../../images/autmn.jpeg") center fixed; 
    /* background: url('https://images.unsplash.com/photo-1480926767013-c9ea27d4252a?ixlib=rb-0.3.5&s=5e1c0c1c6795829615baaa53ff7128ea&auto=format&fit=crop&w=1650&q=80'); */
    /* background: url('https://images.unsplash.com/photo-1506512534708-3737d46bffe1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c50522d4496abeea544e9d3401d0143c&auto=format&fit=crop&w=1950&q=80') fixed center ; */

    width: 100%;
    height: 100%;
    filter: blur(10px);
    position: absolute;
    border-radius: 2rem;
    text-align: center;
    /* color: rgb(0, 0, 0); */


    left: 1.4rem;

  }
  .intro-text2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    position: relative;
    z-index: 99;
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: .3rem;

    left: 1.4rem;

  }
  
  /* ----------- SKILLS SECTION ------------- */
  
  .skills-text {
    text-align: center;
    margin-bottom: -.5px;
    padding: 25px 0;
    text-transform: uppercase;
    font-size: 4rem; 
    color: rgb(221, 220, 220);
    background: url('../../images/autmn.jpeg');

    /* background: linear-gradient(10deg, #b6adb3cb, #921600da, black);     */
    text-shadow: 2px 2px 5px #921600;
    transition: all .3s linear;
    /* font-weight: bold; */
    border-radius: 1rem 1rem 0 0; 
  }
  .skills-text:hover {
    color:  #fc4747;
    text-shadow: 2px 2px 5px rgb(221, 220, 220);
  }
  .skills-div {
    justify-content: space-evenly;
    border-radius: 0 0 1rem 1rem; 
    /* background: url('../../images/wood.jpg') center; */
    background: linear-gradient(10deg, #b6adb3cb, #921600da, black);    

  }
  
  .skills-container {
    font-size: 7rem; 
    color: #ccc;
    padding: 10px;
  }

  
  .skills-icons:hover {
    transition: 1.9s;
    color:orange;
    opacity: 1;
  }
  
  /* ---------- RESUME SECTION ---------- */
  
  
  .resume-section {
    padding: 0 0 2rem 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1506512534708-3737d46bffe1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c50522d4496abeea544e9d3401d0143c&auto=format&fit=crop&w=1950&q=80') fixed;
    background-size: cover;
    
  }
  .resume-text {
    padding: 25px 0;
    text-transform: uppercase;
    color: rgb(221, 220, 220);
    font-size: 4rem;
    /* background: linear-gradient(50deg, black, #9216008e, white);     */
    text-shadow: 2px 2px 5px #921600;
    margin-bottom: .1px;
    transition: all .5s linear;
  }
  .resume-text:hover {
    color:  #fc4747;
    text-shadow: 2px 2px 5px rgb(221, 220, 220);
  }
  .resume-subtext {
    color: rgb(200, 244, 255);
    margin: -2rem 0 3rem 0;
    /* text-transform: uppercase; */
    
  }
  .resume-items {
    padding: 20px;
    /* border: 2px solid rgba(255, 255, 153, 0.103); */
    font-size: 25px;
    color: rgb(238, 228, 228);
  }
  .resume-link {
    color: rgb(194, 181, 181);
    padding: 2rem;
    background: linear-gradient(10deg, black, #9216008e);  
    border-radius: 50%;  
  }
  .resume-link:hover {
    color: white;
    text-decoration: none;
  }
  
  
  /* --------- PORTFOLIO SECTION ---------- */

  #portfolio {
    background-color: rgba(0, 0, 0, 0.205);
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

  }
  
  .work-text {
    padding: 25px 0;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 4rem; 
    color: rgb(221, 220, 220);
    background: linear-gradient(10deg, black, #9216008e);  
    text-shadow: 2px 2px 5px #921600;

    transition: all .5s linear;
    border-radius: 1rem;
    /* font-weight: bold; */
  }

  .work-text:hover {
    color:  #fc4747;
    text-shadow: 2px 2px 5px rgb(221, 220, 220);
  }

  .work-list {
    margin-bottom: 2rem;
  }

  /* .portfolio-thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  } */


  /* ---------- CONTACT SECTION ---------- */

  .contact-section {
    background: url('https://images.unsplash.com/photo-1506512534708-3737d46bffe1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c50522d4496abeea544e9d3401d0143c&auto=format&fit=crop&w=1950&q=80') fixed;
    background-size: cover;
    /* text-align: center; */
    padding: 2rem 0;
  }

  .contact-text {
    padding: 25px 0;
    text-transform: uppercase;
    font-size: 4rem; 
    color: rgb(221, 220, 220);
    background: linear-gradient(10deg, black, #9216008e);  
    text-shadow: 2px 2px 5px #921600;
    margin-top: 30px; 
    border-radius: 1rem;
    transition: all .5s linear;
  }

  .contact-text:hover {
    color:  #fc4747;
    text-shadow: 2px 2px 5px rgb(221, 220, 220);
  }

  /* Style the nav-button that is used to open and close the collapsible content */
  .collapsible {
    background-color: rgba(255, 255, 153, 0.103);
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: all 1s linear;
  }

  /* Add a background color to the nav-button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover { 
    background-color: rgba(83, 104, 26, 0.589);
    color: rgb(202, 255, 58);
  }

  /* Style the collapsible content. Note: hidden by default */
  .content {
    margin-left: 7.5px;;
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f100;
  }
  a.btn {
    color: rgb(59, 53, 53);
  }

  div.row.thumbnail {
    padding: 4px;
    border: 4px rgba(3, 3, 0, 0) solid;
    width: 100%;
    background-color: rgba(219, 243, 152, 0.589);
  }

  .work-image {
    height: 200px;
    width: 100%;;
  }


  .mailto {
    padding: 20px 0;
  }

  .control-label {
    color: white;
    float: left;
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: 2px 2px 5px #921600;
    text-align: left;
  }

  input[type=text] {
    background-color: rgba(241, 98, 63, 0.301);
    color: rgb(0, 0, 0);
    height: 4rem;
    border: 1px solid black;
    font-size: 2rem;
  }
  input[type=text]:hover {
    background-color: rgba(255, 156, 131, 0.301);
    border: 1px solid wheat;

  }
  input[type=text]:focus {
    background-color: rgba(255, 255, 255, 0.952);
    color: rgb(0, 0, 0);
  }
  textarea {
    background-color: rgba(241, 98, 63, 0.301);
    color: rgba(255, 255, 255, 0.514);
    border: 1px solid black;
    font-size: 2rem;

  }
  textarea:focus {
    background-color: rgba(83, 104, 26, 0.589);
    color: rgb(202, 255, 58);
    font-size: 2rem;
  }

  .form-button {
    height: 5rem;
    width: 100%;
    color: white;
    float: left;
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: 2px 2px 5px #921600;
    text-align: left;
    background: linear-gradient(10deg, black, #9216008e);  
    margin: 1rem 0 2rem 0;
  }

  .smallfooter {
    color: aliceblue;
    
  }